<md-subheader class="md-primary">Change User Information</md-subheader>
<section ng-init="$ctrl.loadUserInfo()">
  <form class="change-user-info" name="changeUserInfoForm" ng-submit="$ctrl.changeUserInfo()">
    <div layout="row">
      <md-input-container flex>
        <md-icon md-svg-icon="person"></md-icon>
        <label>First Name</label>
        <input name="FirstName" ng-model="FirstName" type="text" required>
        <div ng-messages="changeUserInfoForm.FirstName.$error" ng-hide="showHints">
          <div ng-message="required" ng-show="changeUserInfoForm.FirstName.$error.required">Please enter a value for this field.</div>
          <div ng-message="server">{{formErrors.FirstName}}</div>
        </div>
      </md-input-container>
      <md-input-container flex>
        <label>Last Name</label>
        <input name="LastName" ng-model="LastName" type="text" required>
        <div ng-messages="changeUserInfoForm.LastName.$error" ng-hide="showHints">
          <div ng-message="required" ng-show="changeUserInfoForm.LastName.$error.required">Please enter a value for this field.</div>
          <div ng-message="server">{{formErrors.LastName}}</div>
        </div>
      </md-input-container>
    </div>
    <div layout-gt-xs="row">
      <md-input-container flex>
        <md-icon md-svg-icon="email"></md-icon>
        <label>Email</label>
        <input name="Email" ng-model="Email" type="email" required>
        <div ng-messages="changeUserInfoForm.Email.$error" ng-hide="showHints">
          <div ng-message="required" ng-show="changeUserInfoForm.Email.$error.required">Please enter a value for this field.</div>
          <div ng-message="email" ng-show="changeUserInfoForm.Email.$error.email">This field must be a valid email address.</div>
          <div ng-message="server">{{formErrors.Email}}</div>
        </div>
      </md-input-container>
    </div>
    <div layout="row">
      <md-input-container flex>
        <md-icon md-svg-icon="key"></md-icon>
        <label>Old Password</label>
        <input name="OldPassword" ng-model="OldPassword" type="password">
        <div ng-messages="changeUserInfoForm.OldPassword.$error" ng-hide="showHints">
          <div ng-message="server">{{formErrors.OldPassword}}</div>
        </div>
      </md-input-container>
      <div flex class="change-password-note">
        Required only when changing the password
      </div>
    </div>
    <div layout="row">
      <md-input-container flex>
        <md-icon md-svg-icon="key"></md-icon>
        <label>New Password</label>
        <input name="NewPassword" ng-model="NewPassword" type="password" ng-minlength="6" ng-maxlength="100">
        <div ng-messages="changeUserInfoForm.NewPassword.$error" ng-hide="showHints">
          <div ng-message="minlength" ng-show="changeUserInfoForm.NewPassword.$error.minlength">Please enter a value not shorter than 6 characters.</div>
          <div ng-message="maxlength" ng-show="changeUserInfoForm.NewPassword.$error.maxlength">Please enter a value not longer than 100 characters.</div>
          <div ng-message="server">{{formErrors.NewPassword}}</div>
        </div>
      </md-input-container>
      <md-input-container flex>
        <label>Confirm Password</label>
        <input name="ConfirmPassword" ng-model="ConfirmPassword" type="password" ng-pattern="{{NewPassword}}">
        <div ng-messages="changeUserInfoForm.ConfirmPassword.$error" ng-hide="showHints">
          <div ng-message="pattern" ng-show="changeUserInfoForm.ConfirmPassword.$error.pattern">The confirm password does not match the new password.</div>
          <div ng-message="server">{{formErrors.ConfirmPassword}}</div>
        </div>
      </md-input-container>
    </div>
    <div>
      <md-button class="md-raised" type="submit">Submit</md-button>
    </div>
  </form>
</section>