<md-subheader class="md-primary">Register</md-subheader>
<section>
  <form class="register-form" name="registerForm" ng-submit="$ctrl.register()">
    <div layout="row">
      <md-input-container flex>
        <md-icon md-svg-icon="person"></md-icon>
        <label>First Name</label>
        <input name="FirstName" ng-model="FirstName" type="text" required>
        <div ng-messages="registerForm.FirstName.$error" ng-hide="showHints">
          <div ng-message="required" ng-show="registerForm.FirstName.$error.required">Please enter a value for this field.</div>
          <div ng-message="server">{{formErrors.FirstName}}</div>
        </div>
      </md-input-container>
      <md-input-container flex>
        <label>Last Name</label>
        <input name="LastName" ng-model="LastName" type="text" required>
          <div ng-messages="registerForm.LastName.$error" ng-hide="showHints">
          <div ng-message="required" ng-show="registerForm.LastName.$error.required">Please enter a value for this field.</div>
          <div ng-message="server">{{formErrors.LastName}}</div>
        </div>
      </md-input-container>
    </div>
    <div layout="row">
      <md-input-container flex>
        <md-icon md-svg-icon="email"></md-icon>
        <label>Email</label>
        <input name="Email" ng-model="Email" type="email" required>
        <div ng-messages="registerForm.Email.$error" ng-hide="showHints">
          <div ng-message="required" ng-show="registerForm.Email.$error.required">Please enter a value for this field.</div>
          <div ng-message="email" ng-show="registerForm.Email.$error.email">This field must be a valid email address.</div>
          <div ng-message="server">{{formErrors.Email}}</div>
        </div>
      </md-input-container>
    </div>
    <div layout="row">
      <md-input-container flex>
        <md-icon md-svg-icon="key"></md-icon>
        <label>Password</label>
        <input name="Password" ng-model="Password" type="password" required ng-minlength="6" ng-maxlength="100">
        <div ng-messages="registerForm.Password.$error" ng-hide="showHints">
          <div ng-message="required" ng-show="registerForm.Password.$error.required">Please enter a value for this field.</div>
          <div ng-message="minlength" ng-show="registerForm.Password.$error.minlength">Please enter a value not shorter than 6 characters.</div>
          <div ng-message="maxlength" ng-show="registerForm.Password.$error.maxlength">Please enter a value not longer than 100 characters.</div>
          <div ng-message="server">{{formErrors.Password}}</div>
        </div>
      </md-input-container>
      <md-input-container flex>
        <label>Confirm Password</label>
        <input name="ConfirmPassword" ng-model="ConfirmPassword" type="password" required ng-pattern="{{Password}}">
        <div ng-messages="registerForm.ConfirmPassword.$error" ng-hide="showHints">
          <div ng-message="required" ng-show="registerForm.ConfirmPassword.$error.required">Please enter a value for this field.</div>
          <div ng-message="pattern" ng-show="registerForm.ConfirmPassword.$error.pattern">The confirm password does not match to the password.</div>
          <div ng-message="server">{{formErrors.ConfirmPassword}}</div>
        </div>
      </md-input-container>
    </div>
    <div>
      <md-button class="md-raised" type="submit">Submit</md-button>
    </div>
  </form>
</section>