﻿@model IEnumerable<WeTravelWebApp.Models.TravelIdea>

@{
    ViewBag.Title = "Index";
}
<style type="text/css">
    .hidden {
        display: none;
    }

</style>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="tbl-idea" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.From)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.To)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContentText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContentRTF)
        </th>
        <th></th>
    </tr>
    <tr id="template-tbl-idea" class="template-row hidden">
        <td name="idea.Id">
            %ID%
        </td>
        <td name="idea.Title"></td>
        <td name="idea.Destination"></td>
        <td name="idea.From"></td>
        <td name="idea.To"></td>
        <td name="idea.ContentText"></td>
        <td name="idea.ContentRTF"></td>
        <td name="idea.CreatedBy"></td>
        <td name="idea.CreatedAt"></td>
        <td name="idea.UpdatedBy"></td>
        <td name="idea.UpdatedAt"></td>
        <td name="idea.IsDeleted"></td>
        <td>
            <a href="/Travel/ideas/Edit/%ID%">Edit</a> |
            <a href="/Travel/ideas/Details/%ID%">Details</a> |
            @*<a href="/Travel/ideas/Delete/%ID%">Delete</a>*@
        </td>
    </tr>

@foreach (var idea in Model) {
    <tr>
        <td name="idea.Id">
            @Html.DisplayFor(modelItem => idea.Id)
        </td>
        <td name="idea.Title">
            @Html.DisplayFor(modelItem => idea.Title)
        </td>
        <td name="idea.Destination">
            @Html.DisplayFor(modelItem => idea.Destination)
        </td>
        <td name="idea.From">
            @Html.DisplayFor(modelItem => idea.From)
        </td>
        <td name="idea.To">
            @Html.DisplayFor(modelItem => idea.To)
        </td>
        <td name="idea.ContentText">
            @Html.DisplayFor(modelItem => idea.ContentText)
        </td>
        <td name="idea.ContentRTF">
            @Html.DisplayFor(modelItem => idea.ContentRTF)
        </td>
        <td name="idea.CreatedBy">
            @Html.DisplayFor(modelItem => idea.CreatedBy)
        </td>
        <td name="idea.CreatedAt">
            @Html.DisplayFor(modelItem => idea.CreatedAt)
        </td>
        <td name="idea.UpdatedBy">
            @Html.DisplayFor(modelItem => idea.UpdatedBy)
        </td>
        <td name="idea.UpdatedAt">
            @Html.DisplayFor(modelItem => idea.UpdatedAt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=idea.TaggableArticleId }) |
            @Html.ActionLink("Details", "Details", new { id=idea.TaggableArticleId }) |
            @*@Html.ActionLink("Delete", "Delete", new { id=idea.TaggableArticleId })*@
        </td>
    </tr>
}

</table>

@section scripts {
    <!--Script references. -->
    <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <!--SignalR script to update the chat page and send messages.-->
    <script>
        $(function () {
            // Reference the auto-generated proxy for the hub.
            var ideaHub = $.connection.ideaHub;
            // Create a function that the hub can call back to display messages.
            ideaHub.client.newIdea = function (idea) {
                //For Structure of idea, please visit http://wetravelwebapp.azurewebsites.net/Help/ResourceModel?modelName=TravelIdeaDTO
                var htmlTemplate = $('#template-tbl-idea').html().replace("%ID%",idea.Id);
                var newNode = $('<tr></tr>');
                newNode.append(htmlTemplate);
                newNode.find('td[name="idea.Title"]').html(idea.Title);
                newNode.find('td[name="idea.Destination"]').html(idea.Destination);
                newNode.find('td[name="idea.From"]').html(idea.From);
                newNode.find('td[name="idea.To"]').html(idea.To);
                newNode.find('td[name="idea.ContentText"]').html(idea.ContentText);
                newNode.find('td[name="idea.ContentRTF"]').html(idea.ContentRTF);
                newNode.find('td[name="idea.CreatedBy"]').html(idea.CreatedBy);
                newNode.find('td[name="idea.CreatedAt"]').html(idea.CreatedAt);
                newNode.find('td[name="idea.UpdatedBy"]').html(idea.UpdatedBy);
                newNode.find('td[name="idea.UpdatedAt"]').html(idea.UpdatedAt);
                newNode.find('td[name="idea.UpdatedBy"]').html(idea.UpdatedBy);

                // Add the idea to the page.
                $('#tbl-idea').append(newNode);
                alert("There's a new idea \"" + idea.Title + "\"!");
            };

            ideaHub.client.newIdeaComment = function (comment) {
                //For Structure of comment, please visit http://wetravelwebapp.azurewebsites.net/Help/ResourceModel?modelName=TravelIdeaCommentDTO
                alert("There's a new comment \"" + comment.ContentText + "\" under idea \"" + comment.IdeaId + "\"!");
            };
            // Start the connection.
            $.connection.hub.start();
        });
        // This optional function html-encodes messages for display in the page.
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}