<md-subheader class="md-primary">{{$ctrl.idea.Title}}</md-subheader>
<section ng-init="$ctrl.loadIdea()">
    <md-content>
        <div layout-margin>
            <div class="md-headline">{{$ctrl.idea.Title}}</div>
            <div class="md-subhead"><md-icon md-svg-icon="author" class="metadata-icon"></md-icon>{{$ctrl.idea.Author.FirstName + " " + $ctrl.idea.Author.LastName}}</div>
            <div class="md-subhead"><md-icon md-svg-icon="email" class="metadata-icon"></md-icon>{{$ctrl.idea.Author.Email}}</div>
            <div class="md-subhead"><md-icon md-svg-icon="created_time" class="metadata-icon"></md-icon>Created at {{$ctrl.idea.CreatedAt.substring(0,10)}} {{$ctrl.idea.CreatedAt.substring(11,19)}}</div>
            <div class="md-subhead"><md-icon md-svg-icon="location" class="metadata-icon"></md-icon>{{$ctrl.idea.Destination}}</div>
            <div class="md-subhead"><md-icon md-svg-icon="date" class="metadata-icon"></md-icon>{{$ctrl.idea.From.substring(0,10)}} - {{$ctrl.idea.To.substring(0,10)}}</div>
        </div>

        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Map">
                <ui-gmap-google-map center="map.center" zoom="map.zoom">
                    <ui-gmap-marker idKey="marker.id" coords="marker.coords" options="market.options" click="marker.events.click">
                        <ui-gmap-window options="infoWindow.windowOptions">
                            <div>{{infoWindow.locationName}}</div>
                        </ui-gmap-window>
                    </ui-gmap-marker>
                </ui-gmap-google-map>
            </md-tab>
            <md-tab label="Hotels" ng-disabled="$ctrl.hotels.length < 1">
                <md-content class="hotel-list">
                    <md-list flex>
                        <md-list-item class="md-3-line" ng-repeat="hotel in $ctrl.hotels" ng-click="$ctrl.redirect(hotel.DeepLink)" aria-label="Hotel">
                            <div class="md-list-item-text" layout="column">
                                <h3>
                                    <md-icon md-svg-icon="hotel" class="metadata-icon hotel-icon"></md-icon>
                                    {{hotel.LodgingType}} near {{hotel.Neighborhood.Name}}
                                </h3>
                                <h4>{{hotel.StarRating}} stars, {{hotel.RecommendationPercentage}}% recommended</h4>
                                <p>{{hotel.CurrencyCode}} {{hotel.AveragePricePerNight}} per night, saving {{hotel.SavingsPercentage}}%</p>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-tab>
        </md-tabs>
        <md-divider></md-divider>
        <div layout-padding ng-bind-html="$ctrl.idea.Content"></div>
        <md-chips ng-model="$ctrl.idea.Tags" readonly="true">
            <md-chip-template>{{$chip}}</md-chip-template>
        </md-chips>
        <md-button class="md-icon-button" aria-label="Back" ng-click="$ctrl.back()">
            <md-tooltip md-direction="top">Back</md-tooltip>
            <md-icon md-svg-icon="back"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Edit" href="#update-travel-idea/{{$ctrl.idea.Id}}" ng-if="$ctrl.idea.CreatedBy === $ctrl.getUserName()">
            <md-tooltip md-direction="top">Edit</md-tooltip>
            <md-icon md-svg-icon="edit"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Delete" ng-click="$ctrl.deleteIdea($ctrl.idea.Id)" ng-if="$ctrl.idea.CreatedBy === $ctrl.getUserName()">
            <md-tooltip md-direction="top">Delete</md-tooltip>
            <md-icon md-svg-icon="delete"></md-icon>
        </md-button>
        <span class="md-subhead" flex>
            <md-icon md-svg-icon="comment" aria-label="Comment Count" class="comment-count-icon metadata-icon">
                <md-tooltip md-direction="top">Comment Count</md-tooltip>
            </md-icon>{{$ctrl.comments.length}}
        </span>
    </md-content>

    <md-content id="comment-list" flex class="flex" layout-xs="column" layout="column" ng-init="$ctrl.loadComments()" id="top-item">
        <md-card ng-repeat="comment in $ctrl.comments" class="fading">
            <md-card-title href="#open-travel-idea/{{comment.Id}}">
                <md-card-title-text>
                    <md-content class="comment-content" layout-padding ng-bind-html="comment.Content"></md-content>
                    <md-chips ng-model="comment.Tags" readonly="true">
                        <md-chip-template>{{$chip}}</md-chip-template>
                    </md-chips>
                    <span><md-icon md-svg-icon="author" class="metadata-icon"></md-icon>{{comment.Author.FirstName + " " + comment.Author.LastName}}</span>
                    <span><md-icon md-svg-icon="email" class="metadata-icon"></md-icon>{{comment.Author.Email}}</span>
                    <span><md-icon md-svg-icon="created_time" class="metadata-icon"></md-icon>Created at {{comment.CreatedAt.substring(0,10)}} {{comment.CreatedAt.substring(11,19)}}</span>
                    <md-divider></md-divider>
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </md-content>

    <form class="comment-travel-idea-form" name="commentTravelIdeaForm" ng-submit="$ctrl.addComment()" novalidate>
        <div>
            <md-input-container class="md-block md-input-has-placeholder" id="comment-input">
                <label>Comment</label>
                <textarea name="Comment" ui-tinymce ng-model="Comment" md-select-on-focus required md-maxlength="255"></textarea>
                <div ng-messages="commentTravelIdeaForm.Comment.$error" ng-hide="showHints">
                    <div ng-message="required" ng-show="commentTravelIdeaForm.Comment.$error.required">Please enter a value for this field.</div>
                    <div ng-message="md-maxlength">Please enter a value not longer than 255 characters.</div>
                    <div ng-message="server">{{formErrors.Comment}}</div>
                </div>
            </md-input-container>
        </div>
        <div>
            <md-button class="md-raised" type="reset">Reset</md-button>
            <md-button class="md-raised" type="submit">Add Comment</md-button>
        </div>
    </form>
</section>