<md-subheader class="md-primary">Login</md-subheader>
<section>
  <form class="login-form" name="loginForm" ng-submit="$ctrl.login()">
    <div layout="row">
      <md-input-container flex>
        <md-icon md-svg-icon="email"></md-icon>
        <label>Email</label>
        <input name="Email" ng-model="Email" type="email" required>
        <div ng-messages="loginForm.Email.$error" ng-hide="showHints">
          <div ng-message="required" ng-show="loginForm.Email.$error.required">Please enter a value for this field.</div>
          <div ng-message="email" ng-show="loginForm.Email.$error.email">This field must be a valid email address.</div>
          <div ng-message="server">{{formErrors.Email}}</div>
        </div>
      </md-input-container>
    </div>
    <div layout="row">
      <md-input-container flex>
        <md-icon md-svg-icon="key"></md-icon>
        <label>Password</label>
        <input name="Password" ng-model="Password" type="password" required>
        <div ng-messages="loginForm.Password.$error" ng-hide="showHints">
          <div ng-message="required" ng-show="loginForm.Password.$error.required">Please enter a value for this field.</div>
          <div ng-message="server">{{formErrors.Password}}</div>
        </div>
      </md-input-container>
    </div>
    <div>
      <md-button class="md-raised" type="submit">Submit</md-button>
    </div>
  </form>
</section>