<section ng-init="$ctrl.loadIdeas()">
    <md-content layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-input-container flex md-no-float class="md-block">
                <md-icon md-svg-icon="search"></md-icon>
                <input name="searchedKeywords" ng-model="$ctrl.searchedKeywords"
                       type="text" placeholder="Search for keywords"
                       ng-change="$ctrl.loadIdeas(false, null, $ctrl.searchedTags, $ctrl.searchedKeywords)"
                       ng-model-options="{debounce: 1000}">
            </md-input-container>
        </div>
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-chips ng-model="$ctrl.searchedTags"
                      md-enable-chip-edit="true" placeholder="Search for tags"
                      md-on-add="$ctrl.loadIdeas(false, null, $ctrl.searchedTags, $ctrl.searchedKeywords)"
                      md-on-remove="$ctrl.loadIdeas(false, null, $ctrl.searchedTags, $ctrl.searchedKeywords)"></md-chips>
        </div>
    </md-content>
    <div layout-padding>{{$ctrl.searchCountText}}</div>
    <md-content layout-xs="column" layout="row" id="top-item">
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card ng-repeat="idea in $ctrl.ideas | leftHalf" class="fading">
                <md-card-title href="#open-travel-idea/{{idea.Id}}">
                    <md-card-title-text>
                        <span class="md-headline">{{idea.Title}}</span>
                        <span class="md-subhead"><md-icon md-svg-icon="author" class="metadata-icon"></md-icon>{{idea.Author.FirstName + " " + idea.Author.LastName}}</span>
                        <span class="md-subhead"><md-icon md-svg-icon="location" class="metadata-icon"></md-icon>{{idea.Destination}}</span>
                        <span class="md-subhead"><md-icon md-svg-icon="date" class="metadata-icon"></md-icon>{{idea.From.substring(0,10)}} - {{idea.To.substring(0,10)}}</span>
                        <md-divider></md-divider>
                        <span layout-padding ng-bind-html="idea.Content" class="list-card-content"></span>
                        <md-chips ng-model="idea.Tags" md-removable="false" md-on-select="$ctrl.selectTag($chip)">
                            <md-chip-template>{{$chip}}</md-chip-template>
                        </md-chips>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <span class="md-subhead" flex>
                        <md-icon md-svg-icon="comment" aria-label="Comment Count" class="comment-count-icon metadata-icon">
                            <md-tooltip md-direction="top">Comment Count</md-tooltip>
                        </md-icon>{{idea.CommentCount}}
                    </span>
                    <md-button class="md-icon-button" aria-label="Open" href="#open-travel-idea/{{idea.Id}}">
                        <md-tooltip md-direction="top">Open</md-tooltip>
                        <md-icon md-svg-icon="open"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Edit" href="#update-travel-idea/{{idea.Id}}" ng-if="idea.CreatedBy === $ctrl.getUserName()">
                        <md-tooltip md-direction="top">Edit</md-tooltip>
                        <md-icon md-svg-icon="edit"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Delete" ng-click="$ctrl.deleteIdea(idea.Id)" ng-if="idea.CreatedBy === $ctrl.getUserName()">
                        <md-tooltip md-direction="top">Delete</md-tooltip>
                        <md-icon md-svg-icon="delete"></md-icon>
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card ng-repeat="idea in $ctrl.ideas | rightHalf" class="fading">
                <md-card-title href="#open-travel-idea/{{idea.Id}}">
                    <md-card-title-text>
                        <span class="md-headline">{{idea.Title}}</span>
                        <span class="md-subhead"><md-icon md-svg-icon="author" class="metadata-icon"></md-icon>{{idea.CreatedBy}}</span>
                        <span class="md-subhead"><md-icon md-svg-icon="location" class="metadata-icon"></md-icon>{{idea.Destination}}</span>
                        <span class="md-subhead"><md-icon md-svg-icon="date" class="metadata-icon"></md-icon>{{idea.From.substring(0,10)}} - {{idea.To.substring(0,10)}}</span>
                        <md-divider></md-divider>
                        <span layout-padding ng-bind-html="idea.Content" class="list-card-content"></span>
                        <md-chips ng-model="idea.Tags" md-removable="false" md-on-select="$ctrl.selectTag($chip)">
                            <md-chip-template>{{$chip}}</md-chip-template>
                        </md-chips>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <span class="md-subhead" flex>
                        <md-icon md-svg-icon="comment" aria-label="Comment Count" class="comment-count-icon metadata-icon">
                            <md-tooltip md-direction="top">Comment Count</md-tooltip>
                        </md-icon>{{idea.CommentCount}}
                    </span>
                    <md-button class="md-icon-button" aria-label="Open" href="#open-travel-idea/{{idea.Id}}">
                        <md-tooltip md-direction="top">Open</md-tooltip>
                        <md-icon md-svg-icon="open"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Edit" href="#update-travel-idea/{{idea.Id}}" ng-if="idea.CreatedBy === $ctrl.getUserName()">
                        <md-tooltip md-direction="top">Edit</md-tooltip>
                        <md-icon md-svg-icon="edit"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Delete" ng-click="$ctrl.deleteIdea(idea.Id)" ng-if="idea.CreatedBy === $ctrl.getUserName()">
                        <md-tooltip md-direction="top">Delete</md-tooltip>
                        <md-icon md-svg-icon="delete"></md-icon>
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>
    </md-content>

    <md-button class="md-fab md-fab-bottom-right" aria-label="Create" href="#create-travel-idea">
        <md-tooltip md-direction="top">Create</md-tooltip>
        <md-icon flex md-svg-icon="add"></md-icon>
    </md-button>
</section>