﻿    <%@ Page Language="C#" AutoEventWireup="true" CodeBehind="test.aspx.cs" Inherits="WeTravelWebApp.Content.test" %>

    <!DOCTYPE html>

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head runat="server">
        <title></title>
    </head>
    <body>
        <form id="form1" runat="server">
            <div>
            </div>
        </form>
        <script src="../Scripts/jquery-1.10.2.min.js"></script>
        <script type="text/javascript">

            function setHeader(xhr) {
                xhr.setRequestHeader('Authorization', 'bearer Pum5S9zqgPs5KmzuMvqyfzm3xxJRY03_0qKv9ABUIbYsLCH-AFNGSn-oJa8GGq9g9P2_fYwzdYiIe_QR5Q3iHsLVhHef9Sk7IYygtsx55IaldKU3B60BKucX27Nw25ShagghgT9VGl2mh3yIf4Gy-FAfRwHqtN1pP_TpsZMPdb7EpI9oJTUXgk8snS1zfOsTtbyYI4DsBzhMIxrokCUv_rOzMQct6Mhcetsk9rzhR74SmbYJ0lrobIGTr3o42qYVKQ7zulVEEE9jwDlhsGewPpwu9UXHXXpUqxTPQlgl7l8rxwoWRgvzTy2JzBDvrgXXc1AM2tEnRFR6MVkZMuw1iU_C6Rbn4qX5pP8rCw3ZYE4R3LGx07FCn3e_bX-QygPFGIfCs8G9Xb575yhzrT6wKWQtgkUIsgfel33XEcymkE8ZsKk9R6VF8a3VIHMRF3MqxBhHTQI1o9ID0EeGbzueEf6od0LVaO7BBPvP62RVAg42O2HgsyZ54amSMlBBVhkB');
                //xhr.setRequestHeader('passkey', 'Bar');
            }

            var loginPayload = {
                grant_type: "password",
                username: "ahjoe86@gmail.com",
                password: "abcd1234"
            };
            $.ajax({
                url: 'http://bookstore.com:50080/Token',
                //url: 'https://wetravelwebapp.azurewebsites.net/api/TravelIdea',
                type: 'POST',
                dataType: 'json',
                data: loginPayload,
                success: function () { alert('Token OK!'); },
                error: function () { alert('Token fail!'); },
                beforeSend: setHeader
            });

            $.ajax({
                url: 'http://bookstore.com:50080/api/TravelIdea',
                //url: 'https://wetravelwebapp.azurewebsites.net/api/TravelIdea',
                type: 'GET',
                dataType: 'json',
                success: function () { alert('Get idea OK!'); },
                error: function () { alert('Get idea fail!'); },
                beforeSend: setHeader
            });

            var comment = {
                "ContentText": "Trump Trump Trump Oh 好ho野"
            };

            $.ajax({
                url: 'http://bookstore.com:50080/api/TravelIdea/e1ec32f7-1753-488b-a501-80172b2509e6/Comments',
                //url: 'https://wetravelwebapp.azurewebsites.net/api/TravelIdea',
                type: 'POST',
                dataType: 'json',
                data: comment,
                success: function () { alert('POST comment OK!'); },
                error: function () { alert('POST comment fail!'); },
                beforeSend: setHeader
            });

        </script>
    </body>
    </html>
